<template>
  <div class="population-tile css-flex-container">
    <div class="tile-background-img" :style="{ backgroundImage: getBackgroundImg }"></div>
    <TileHeader :populationName="populationName" :redirectionLinks="populationData.redirectionLinks"
    :isCarouselMoving="isCarouselMoving" />
    <div class="selection-criteria css-grid-container" :style="selectionCriteriaStyle">
      <template v-for="([critName, critValues], index) in Object.entries(populationData.criteria)" :key="index">
        <div class="selection-buttons css-flex-container">
          <button v-for="(critValue, index) in critValues" :key="index"
          @click.stop="generationTriggerCallback(populationName, critName, critValue)">
            {{genders[critValue] || agglomerations[critValue]}}
          </button>
        </div>
      </template>
    </div>
  </div>
</template>

<script>

import TileHeader from './TileHeader';
import { AGGLOMERATIONS, GENDERS } from '@/data';

export default {
  name: 'PopulationTile',
  components: { TileHeader },
  props: {
    isCarouselMoving: Boolean,
    populationName: String,
    populationData: Object,
    generationTriggerCallback: Function,
  },
  data() {
    return {
      genders: GENDERS,
      agglomerations: AGGLOMERATIONS,
    };
  },
  computed: {
    // eslint-disable-next-line global-require, import/no-dynamic-require, prefer-template
    getBackgroundImg: (self) => `url(${require('@/assets/' + self.populationName + '.jpg')})`,
    selectionCriteriaStyle: (self) => ({
      gridTemplateRows: `repeat(${Object.keys(self.populationData.criteria).length}, auto)`,
    }),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@media (max-width: 550px) {
  .population-tile {
    justify-content: space-evenly;
    height: 350px;
    width: 144px;
  }
  .tile-background-img {
    transform: rotate(90deg);
    height: 175px;
    width: 380px;
    top: 102px;
    left: -103px;
  }
}
@media (min-width: 551px) {
  .population-tile {
    justify-content: space-between;
    height: 144px;
    width: 350px;
  }
  .tile-background-img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
.population-tile {
  border: solid 3px #2c3e50;
  border-radius: 10px;
  flex-direction: column;
  padding: 15px;
  position: relative;
}
.tile-background-img {
  background-size: 100% 100%;
  border-radius: 10px;
  position: absolute;
  z-index: -1;
}
.population-tile h3 {
  margin: 0%;
}
.selection-criteria {
  justify-content: center;
  grid-template-columns: auto;
  grid-gap: 10px 20px;
}
.selection-criteria > p {
  text-align: end;
}
.selection-buttons {
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.selection-buttons > button {
  background-color: #d41413;
  border-radius: 10px;
  border: 1px solid #444444;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  color: aliceblue;
  cursor: v-bind('isCarouselMoving ? "inherit" : "pointer"');
  font-size: large;
  font-family: "Zacoalt", Avenir, Helvetica, Arial, sans-serif;
  height: 40px;
  width: 100px;
}
.selection-buttons > button:hover, .selection-buttons > button:active {
  font-size: 120%;
  border: 2px solid #444444;
}
</style>
