<template>
  <div id="app-content">
    <div>
      <h1>Catchaluk tools</h1>
      <h3>
        <a href="https://catchaluk.wixsite.com/lejdr" target="_blank" rel="noopener noreferrer">
          Catchaluk<Icon icon="uil:external-link-alt"
            :style="{ width: '12px', color: '#d41413', marginBottom: '5px', }"
          />
        </a>
        <span>
          est un univers de jeu de rôle inspiré de l'Amérique centrale pré-colombienne dans lequel les
          joueurs sont plongés dans une société atypique; incarnant des personnages normaux tout aussi mortels que
          les autres; où diplomatie, réflexion et respect des coutumes sont de mise afin de naviguer
          ce monde riche et complexe
        </span>
      </h3>
      <div class="separator"></div>
      <NameGenerator />
    </div>
  </div>
</template>

<script>
/* eslint-disable global-require */

import { Icon } from '@iconify/vue';

import NameGenerator from '@/components/view_components/NameGenerator';

export default {
  name: 'V1',
  components: {
    Icon,
    NameGenerator,
  },
  data() {
    return {
      backgroundImgUrl: `url(${require('@/assets/background_large_screens.png')}) 0 0 repeat`,
    };
  },
  methods: {
    background(screenSize = 'large') {
      switch (screenSize) {
        case 'large':
          return `url(${require('@/assets/background_large_screens.png')}) 0 0 repeat`;
        case 'small':
        default:
          return `url(${require('@/assets/background_small_screens.jpg')}) 0 0 repeat`;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
  }
  h3 * {
    font-family: sans-serif;
  }
  a {
    color: #2c3e50;
  }
  a:link, a:visited {
    text-decoration: none;
  }
  a:hover, a:active {
    text-decoration: underline;
  }
  @media (max-width: 550px) {
    #app-content {
      background: v-bind('background("small")');
    }
    #app-content > div {
      margin: 0;
    }
  }
  @media (min-width: 551px) {
    #app-content {
      background: v-bind('background()');
    }
    #app-content > div {
      margin: 0 6.7vw;
    }
  }
  #app-content {
    /* background: v-bind(backgroundImgUrl); */
    background-size: 100%;
    position: absolute;
    width: 100%;
    min-height: 100%;
  }
  #app-content > div {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  #app-content > div > * {
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .separator {
    height: 3vw;
    width: 80%;
    left: calc(10% - 1vw);
    position: absolute;
    border-bottom: 1px solid #2c3e50;
  }
</style>
