<template>
  <div id="screen-content">
    <div class="display-pages css-grid-container">
      <div>
        <div id="page-atom-0" :style="{ overflow: 'auto' }">
          <h1>Catchaluk tools</h1>
        </div>
        <div id="page-atom-gap-1" :style="{ height: `${$store.state.pageAtoms[1].gapHeight}px`, zIndex: -2 }">
          <div class="page-atom-gap css-flex-container" v-show="$store.state.pageAtoms[1].gapMessage.showMessage"
            :style="{ height: `${$store.state.pageAtoms[1].gapMessage.availableSpace}px` }">
            <h3>Suite <Icon icon="zondicons:subdirectory-left" rotate="-90deg" :inline="true"
              :style="{ width: '24px', color: '#2c3e50', marginTop: '10px', position: 'absolute'}"/>
            </h3>
          </div>
        </div>
        <div id="page-atom-1" :style="{ overflow: 'auto' }">
          <section class="presentation css-grid-container">
            <h3>
              <a href="https://catchaluk.wixsite.com/lejdr" target="_blank" rel="noopener noreferrer">
                Catchaluk<Icon icon="uil:external-link-alt"
                  :style="{ width: '12px', color: '#d41413', marginBottom: '5px', }"
                />
              </a> est un univers de jeu de rôle inspiré de l'Amérique centrale pré-colombienne dans lequel les
              joueurs sont plongés dans une société atypique; incarnant des personnages normaux tout aussi mortels que
              les autres; où diplomatie, réflexion et respect des coutumes sont de mise afin de naviguer
              ce monde riche et complexe
            </h3>
            <img src="@/assets/portrait1.jpg" alt="Zacoalt man" v-if="$store.state.screenSize.width + 18 >= 916">
          </section>
        </div>
        <NameGenerator />
      </div>
      <div v-for="i in this.$store.getters.pageNb - 1" :key="i" :style="{ zIndex: -2 }"></div>
    </div>
  </div>
</template>

<script>

import { Icon } from '@iconify/vue';

import NameGenerator from '@/components/view_components/NameGeneratorV2';

export default {
  name: 'V2',
  components: {
    Icon,
    NameGenerator,
  },
  data() {
    return {
      // eslint-disable-next-line global-require
      backgroundImgUrl: `url(${require('@/assets/background.jpg')}) 0 0 repeat`,
      backgroundImageDimensions: this.$store.state.backgroundImageDimensions,
      resizeObserver: undefined,
      screenSize: this.$store.state.screenSize,
    };
  },
  computed: {
    cssVar: (self) => ({
      backgroundWidth: self.$store.getters.relativeDimensions.backgroundWidth,
      displayPagesHeight: self.$store.getters.relativeDimensions.displayPagesHeight,
      displayPagesMarginLeft: self.$store.getters.relativeDimensions.displayPagesMarginLeft,
      displayPagesMarginBottom: self.$store.getters.relativeDimensions.displayPagesMarginBottom,
      displayPagesMarginTop: self.$store.getters.relativeDimensions.displayPagesMarginTop,
      displayPagesWidth: self.$store.getters.relativeDimensions.displayPagesWidth,
    }),
  },
  mounted() {
    const self = this;
    this.resizeObserver = new ResizeObserver((entries) => {
      entries.forEach((entry) => {
        const { inlineSize: width, blockSize: height } = entry.contentBoxSize[0];
        if (entry.target.id === 'screen-content') {
          self.$store.commit('updateScreenSize', { width, height });
          return;
        }
        if (!entry.target.id.startsWith('page-atom-')) {
          return;
        }
        const pageAtomIndex = Number(entry.target.id.split('page-atom-')[1]);
        self.$store.commit('updatePageAtomSize', { height, pageAtomIndex });
      });
      self.$store.dispatch('updatePagesLayout');
    });
    this.resizeObserver.observe(document.getElementById('screen-content'));
    this.resizeObserver.observe(document.getElementById('page-atom-0'));
    this.resizeObserver.observe(document.getElementById('page-atom-1'));
  },
  beforeUnmount() {
    this.resizeObserver.disconnect();
  },
};
</script>

<style>
  #screen-content {
    position: absolute;
    width: 100%;
    height: 100%; /* needed for screenSize */
  }
   #screen-content > img {
     position: absolute;
     left: 0;
     top: 0;
     z-index: -1;
     width: v-bind('cssVar.backgroundWidth');
   }
   .page-atom-gap {
     flex-direction: column;
     justify-content: center;
   }
</style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  a {
    color: aliceblue;
  }
  a:link, a:visited {
    text-decoration: none;
  }
  a:hover, a:active {
    text-decoration: underline;
  }
  .display-pages {
    background: v-bind(backgroundImgUrl);
    background-size: 100%;
  }
  .display-pages > * {
    margin-left: v-bind('cssVar.displayPagesMarginLeft');
    margin-top: v-bind('cssVar.displayPagesMarginTop');
    margin-bottom: v-bind('cssVar.displayPagesMarginBottom');
    height: v-bind('cssVar.displayPagesHeight');
    width: v-bind('cssVar.displayPagesWidth');
  }
  .presentation {
    align-items: center;
    background-color: #2c3e50;
    color: aliceblue;
    grid-gap: 20px;
    grid-template-columns: auto 25%;
    padding-left: 20px;
  }
  @media (max-width: 915px) {
    .presentation {
      grid-template-columns: 1fr;
    }
  }
  @media (min-width: 916px) {
    .presentation {
      grid-template-columns: auto 25%;
    }
  }
  .presentation > img {
    max-width: 100%;
  }
</style>
