<template>
  <div id="page-atom-gap-2" :style="{ height: `${$store.state.pageAtoms[2].gapHeight}px`, zIndex: -2 }">
    <div class="page-atom-gap css-flex-container" v-show="$store.state.pageAtoms[2].gapMessage.showMessage"
      :style="{ height: `${$store.state.pageAtoms[2].gapMessage.availableSpace}px` }">
      <h3>Suite <Icon icon="zondicons:subdirectory-left" rotate="-90deg" :inline="true"
        :style="{ width: '24px', color: '#2c3e50', marginTop: '10px', position: 'absolute'}"/>
      </h3>
    </div>
  </div>
  <div id="page-atom-2" :style="{ overflow: 'auto' }" class="name-generator css-flex-container">
    <h2>Générateur de noms</h2>
    <span>
      <h3>Générez aléatoirement 5 noms de personnages ou d'agglomérations</h3>
      <p>Choisissez un peuple, puis cliquez sur le type de nom à générer</p>
    </span>
  </div>
  <div id="page-atom-gap-3" :style="{ height: `${$store.state.pageAtoms[3].gapHeight}px`, zIndex: -2 }">
    <div class="page-atom-gap css-flex-container" v-show="$store.state.pageAtoms[3].gapMessage.showMessage"
      :style="{ height: `${$store.state.pageAtoms[3].gapMessage.availableSpace}px` }">
      <h3>Suite <Icon icon="zondicons:subdirectory-left" rotate="-90deg" :inline="true"
        :style="{ width: '24px', color: '#2c3e50', marginTop: '10px', position: 'absolute'}"/>
      </h3>
    </div>
  </div>
  <div id="page-atom-3" :style="{  }" class="name-generator css-flex-container">
    <div class="selection">
      <Flicking :options="flickingOptions" :plugins="flickingPlugins"
      :style="{ cursor: isCursorGrabbing ? 'grabbing' : 'grab' }"
      @mousedown="handleSelectionPressDown" @touchstart="handleSelectionPressDown"
      @mouseup="handleSelectionPressUp" @touchend="handleSelectionPressUp" @mouseleave="handleSelectionPressUp"
      @moveStart="handleCarouselMoveStart" @moveEnd="handleCarouselMoveEnd">
        <PopulationTile v-for="([popName, popData], index) in Object.entries(populationBase)" :key="index"
        :populationName="popName" :populationData="popData" :generationTriggerCallback="handleTileButtonClick"
        :isCarouselMoving="isCarouselMoving" class="card-panel"/>
        <template #viewport>
          <div class="flicking-pagination"></div>
        </template>
      </Flicking>
      <div class="carousel-buttons" v-show="!isCarouselMoving">
        <Icon icon="fa-solid:less-than" font-size="30px"/>
        <Icon icon="fa-solid:greater-than" font-size="30px"/>
      </div>
      <Icon icon="whh:handswipe" color="#2c3e50" font-size="30px" :style="{ marginTop: '5px', marginBottom: '15px' }"/>
    </div>
  </div>
  <div id="page-atom-gap-4" :style="{ height: `${$store.state.pageAtoms[4].gapHeight}px`, zIndex: -2 }">
    <div class="page-atom-gap css-flex-container" v-show="$store.state.pageAtoms[4].gapMessage.showMessage"
      :style="{ height: `${$store.state.pageAtoms[4].gapMessage.availableSpace}px` }">
      <h3>Suite <Icon icon="zondicons:subdirectory-left" rotate="-90deg" :inline="true"
        :style="{ width: '24px', color: '#2c3e50', marginTop: '10px', position: 'absolute'}"/>
      </h3>
    </div>
  </div>
  <div id="page-atom-4" :style="{  }" class="name-generator css-flex-container">
    <div class="generator css-flex-container">
      <div class="generated-names css-flex-container">
        <h3>Noms aléatoirement générés</h3>
        <pre>{{ generatedNames }}</pre>
      </div>
    </div>
  </div>
  <template v-for="i in 3" :key="i">
    <div :id="`page-atom-gap-${4 + i}`" v-show="i - 1 < populationGenderNb"
      :style="{ height: `${$store.state.pageAtoms[4 + i].gapHeight}px`, zIndex: -2 }">
      <div class="page-atom-gap css-flex-container" v-show="$store.state.pageAtoms[4 + i].gapMessage.showMessage"
        :style="{ height: `${$store.state.pageAtoms[4 + i].gapMessage.availableSpace}px` }">
        <h3>Suite <Icon icon="zondicons:subdirectory-left" rotate="-90deg" :inline="true"
          :style="{ width: '24px', color: '#2c3e50', marginTop: '10px', position: 'absolute'}"/>
        </h3>
      </div>
    </div>
    <div :id="`page-atom-${4 + i}`" :style="{ }" class="name-generator css-flex-container"
      v-show="i - 1 < populationGenderNb">
      <template v-if="i === 1 && $store.state.screenSize.width + 18 > 750">
        <h3 :style="{ marginBottom: 0 }">
          Base de noms utilisée :
          <span :style="{ textDecoration: 'underline dashed' }">{{selectedCriterium.populationName}}</span>
        </h3>
        <div class="name-base-content css-flex-container">
          <template v-for="([gender, genderedNameList], index) in Object.entries(selectedNameBase)" :key="index">
            <div class="css-grid-container" :style="{ backgroundColor: index % 2 ? 'white' : '#2c3e50',
            color: index % 2 ? '#2c3e50' : 'aliceblue', border: `${index % 2 ? 2 : 0}px solid #2c3e50` }">
              <p>{{ gender }}</p>
              <p :style="{ margin: '0px 10px 16px 10px' }">{{ genderedNameList.join(', ') }}</p>
            </div>
          </template>
        </div>
      </template>
      <template v-else-if="$store.state.screenSize.width + 18 <= 750">
        <h3 v-if="i === 1" :style="{ marginBottom: 0 }">
          Base de noms utilisée :
          <span :style="{ textDecoration: 'underline dashed' }">{{selectedCriterium.populationName}}</span>
        </h3>
        <div class="name-base-content css-flex-container" v-if="i - 1 < populationGenderNb">
          <div class="css-grid-container" :style="{ backgroundColor: i % 2 ? 'white' : '#2c3e50',
            color: i % 2 ? '#2c3e50' : 'aliceblue', border: `${i % 2 ? 2 : 0}px solid #2c3e50` }">
            <p>{{ Object.entries(selectedNameBase)[i - 1][0] }}</p>
            <p :style="{ margin: '0px 10px 16px 10px' }">{{ Object.entries(selectedNameBase)[i - 1][1].join(', ') }}</p>
          </div>
        </div>
      </template>
    </div>
  </template>
</template>
<script>

import Flicking from '@egjs/vue3-flicking';
import { Fade, Pagination } from '@egjs/flicking-plugins';
import { Icon } from '@iconify/vue';

import PopulationTile from './PopulationTile';

import { EMPTY_CHAR, GENDERS, PopulationBase } from '@/data';
import { randomInt, range } from '@/globals/functions/numbers';
import findAllIndex from '@/globals/functions/strings';

export default {
  name: 'NameGenerator',
  components: { Flicking, Icon, PopulationTile },
  data() {
    return {
      isCarouselMoving: false,
      flickingOptions: {
        align: 'center',
        circular: true,
        noPanelStyleOverride: true,
        deceleration: 0.01,
        easing: (x) => 1 - (1 - x) ** 3,
      },
      flickingPlugins: [new Fade(), new Pagination({ type: 'bullet' })],
      genders: GENDERS,
      generatedNames: '(Veuillez sélectionner une catégorie)',
      isCursorGrabbing: false,
      nbOfwantedNames: 5,
      populationBase: PopulationBase,
      resizeObserver: undefined,
      selectedCriterium: {
        populationName: '',
        critName: '',
        critValue: '',
      },
    };
  },
  computed: {
    populationGenderNb: (self) => Object.keys(self.selectedNameBase).length,
    selectedNameBase: (self) => {
      const output = {};
      if (!self.selectedCriterium.populationName) {
        return output;
      }
      self.populationBase[self.selectedCriterium.populationName].names.forEach(
        (nameData) => {
          if (!Object.prototype.hasOwnProperty.call(output, nameData.gender)) {
            output[nameData.gender] = [];
          }
          output[nameData.gender].push(nameData.name);
        },
      );
      return output;
    },
  },
  methods: {
    doesNameRespectNomenclature(name) {
      const { nomenclature } = this.populationBase[this.selectedCriterium.populationName];
      const { min: minSize, max: maxSize } = nomenclature.nameSize;
      if (!(name.length >= minSize && name.length <= maxSize)) {
        return false;
      }
      const areSpecialCharsRulesRespected = Object.entries(nomenclature.specialChars).every(([spChar, rules]) => {
        const spCharOccurences = findAllIndex(name, spChar);
        const spCharAmount = spCharOccurences.length - spCharOccurences.reduce(
          (acc, curr) => acc + Number(rules.isException(name, curr)),
          0,
        );
        if (spCharAmount > rules.maxAllowed) {
          return false;
        }
        const spCharsAreIllPlaced = spCharOccurences.some(
          (index) => index < rules.minDistFromEdges - 1 || index > name.length - rules.minDistFromEdges,
        );
        if (spCharsAreIllPlaced) {
          return false;
        }
        return true;
      });
      if (!areSpecialCharsRulesRespected) {
        return false;
      }
      return true;
    },
    generateCharOccurenceTable(nameList) {
      const output = {};
      nameList.forEach((name) => {
        range(name.length, -1).forEach((index) => {
          const currChar = name[index] || EMPTY_CHAR;
          const prevChar = name[index - 1] || EMPTY_CHAR;
          const nextChar = name[index + 1] || EMPTY_CHAR;
          const prevTwoChars = [prevChar, currChar];
          if (!Object.prototype.hasOwnProperty.call(output, prevTwoChars)) {
            output[prevTwoChars] = {};
          }
          const nextCharTable = output[prevTwoChars];
          const nextCharCurrentCount = nextCharTable[nextChar] || 0;
          nextCharTable[nextChar] = nextCharCurrentCount + 1;
        });
      });
      return output;
    },
    getRandomNamesFromCharOccurences(occurenceTable, nbWanted) {
      const output = [];
      if (!Object.keys(occurenceTable).length) {
        return output;
      }
      const generateNewName = (occTable) => {
        let outputName = EMPTY_CHAR;
        let charToAdd = EMPTY_CHAR;
        let generationWasReset = false;
        do {
          generationWasReset = false;
          const prevPrevChar = outputName.slice(-2, -1) || EMPTY_CHAR;
          const prevChar = outputName.slice(-1) || EMPTY_CHAR;
          const nextCharTable = occTable[[prevPrevChar, prevChar]];
          const nbOfNextCharOccurences = Object.values(nextCharTable).reduce((acc, curr) => acc + curr, 0);
          let randomIndex = Math.random() * 100; // float within [0; 100[
          // eslint-disable-next-line no-loop-func
          Object.entries(nextCharTable).some(([char, occurenceNb]) => {
            const charFrequency = (occurenceNb / nbOfNextCharOccurences) * 100;
            if (randomIndex >= charFrequency) {
              randomIndex -= charFrequency;
              return false;
            }
            charToAdd = char;
            return true;
          });
          outputName += charToAdd;
          if (charToAdd === EMPTY_CHAR && !this.doesNameRespectNomenclature(outputName)) {
            outputName = '';
            generationWasReset = true;
          }
        } while (charToAdd !== EMPTY_CHAR || generationWasReset);
        return outputName;
      };
      range(nbWanted).forEach(() => output.push(generateNewName(occurenceTable)));
      return output;
    },
    generateRawNames() {
      const { populationName, critName, critValue } = this.selectedCriterium;
      const randomGenderName = this.getRandomPopulationGenderName();
      const genderSelection = critName === 'gender'
        ? critValue
        : randomGenderName;
      const selectedNames = this.populationBase[populationName].names.reduce((acc, curr) => {
        if (curr.gender === this.genders[genderSelection]) {
          acc.push(curr.name);
        }
        return acc;
      }, []);
      const charOccurenceTable = this.generateCharOccurenceTable(selectedNames);
      return this.getRandomNamesFromCharOccurences(charOccurenceTable, this.nbOfwantedNames);
    },
    generateNames() {
      const rawGeneratedNames = this.generateRawNames();
      const generatedNameList = this.postEditing(rawGeneratedNames);
      this.generatedNames = generatedNameList.length
        ? generatedNameList.reduce((acc, curr) => `${acc}\n${curr}`)
        : 'No data available\nfor this selection :/';
    },
    getRandomPopulationGenderName() {
      const genderNameList = this.populationBase[this.selectedCriterium.populationName].criteria.gender;
      return genderNameList[randomInt(genderNameList.length)];
    },
    handleCarouselMoveStart() {
      this.isCarouselMoving = true;
    },
    handleCarouselMoveEnd() {
      this.isCarouselMoving = false;
    },
    handleTileButtonClick(populationName, critName, critValue) {
      this.selectedCriterium = { populationName, critName, critValue };
      this.generateNames();
    },
    handleSelectionPressDown() {
      this.isCursorGrabbing = true;
    },
    handleSelectionPressUp() {
      this.isCursorGrabbing = false;
    },
    postEditing(nameList) {
      const { populationName, critName, critValue } = this.selectedCriterium;
      if (critName === 'agglomeration') {
        const output = [];
        const nameEditor = this.populationBase[populationName].agglomerationTemplates[critValue];
        nameList.forEach((name, index) => (output[index] = nameEditor(name)));
        return output;
      }
      if (populationName === 'Atlec') {
        const output = [];
        const randomGenderName = this.getRandomPopulationGenderName();
        const familyNames = this.generateRawNames(populationName, critName, randomGenderName);
        nameList.forEach((name, index, arr) => (output[index] = `${arr[index]} ${familyNames[index]}`));
        return output;
      }
      return nameList;
    },
  },
  mounted() {
    const self = this;
    this.resizeObserver = new ResizeObserver((entries) => {
      entries.forEach((entry) => {
        const { blockSize: height } = entry.contentBoxSize[0];
        if (!entry.target.id.startsWith('page-atom-')) {
          return;
        }
        const pageAtomIndex = Number(entry.target.id.split('page-atom-')[1]);
        self.$store.commit('updatePageAtomSize', { height, pageAtomIndex });
      });
      self.$store.dispatch('updatePagesLayout');
    });
    this.resizeObserver.observe(document.getElementById('page-atom-2'));
    this.resizeObserver.observe(document.getElementById('page-atom-3'));
    this.resizeObserver.observe(document.getElementById('page-atom-4'));
    this.resizeObserver.observe(document.getElementById('page-atom-5'));
    this.resizeObserver.observe(document.getElementById('page-atom-6'));
    this.resizeObserver.observe(document.getElementById('page-atom-7'));
  },
  beforeUnmount() {
    this.resizeObserver.disconnect();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #page-atom-3 {
    justify-content: center;
  }
  .name-generator {
    align-items: center;
    flex-direction: column;
  }
  .name-generator > span > h3 {
    margin: 0 auto;
  }
  .generator {
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    padding: 25px 0;
    width: 90%;
  }
  .selection {
    margin: 10px 0;
    position: relative;
    width: 100%;
  }
  /* Imported from 'flicking' component's css (cf. index.html link tag) */
  .flicking-camera > * {
    margin: 0 30px;
  }
  .flicking-viewport {
    overflow-x: clip;
    overflow-y: visible;
  }
  .flicking-pagination {
    bottom: -50px;
    z-index: 0;
  }
  /*  */
  .carousel-buttons {
    position: absolute;
    width: 100%;
    color: #2c3e50;
    top: calc(50% - 27px - 15px);
  }
  .carousel-buttons > * {
    position: absolute;
  }
  @media (max-width: 550px) {
    .carousel-buttons > *:nth-child(1) {
      left: calc(50% - 90px - 30px - 11px);
    }
    .carousel-buttons > *:nth-child(2) {
      left: calc(50% + 90px + 30px - 11px);
    }
    .generated-names {
      width: 100%;
    }
  }
  @media (max-width: 750px) {
    .name-base-content > div {
      width: 100%;
    }
  }
  @media (min-width: 551px) {
    .carousel-buttons > *:nth-child(1) {
      left: calc(50% - 193px - 30px - 11px);
    }
    .carousel-buttons > *:nth-child(2) {
      left: calc(50% + 193px + 30px - 11px);
    }
    .generated-names {
      width: max(386px, 50%);
    }
  }
  @media (min-width: 751px) {
    .name-base-content > div {
      width: min(344px, 30%);
    }
}
  .generated-names {
    background-color: #2c3e50;
    border-radius: 10px;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    height: 240px;
  }
  .generated-names > pre {
    font-size: x-large;
    margin-top: 0;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
  .name-base-content {
    gap: 20px;
    margin: 2.5% 5%;
    justify-content: center;
  }
  .name-base-content > div {
    border-radius: 10px;
    grid-template-rows: auto 1fr;
  }
  .name-base-content * {
    font-family: initial;
  }
</style>

<style>
/* Imported from 'flicking' component's css (cf. index.html link tag)
 * N.B: this one has to be declared before
*/
.flicking-pagination-bullet-active {
  background-color: #d41413;
}
/*  */
</style>
