<template>
  <div class="tile-header css-grid-container">
    <div class="title css-flex-container">
      <h3>
        <a v-if="typeof redirectionLinks.population === 'string'"
        :href="redirectionLinks.population" target="_blank" rel="noopener noreferrer">
          {{populationName}}<Icon icon="uil:external-link-alt"
            :style="{ fontSize: '12px', color: '#d41413', }"
            width="12" height="28"  verticalAlign="top"
          />
        </a>
        <template v-else>
          <a :href="redirectionLinks.population[0]" target="_blank" rel="noopener noreferrer">
            {{populationName.split('&')[0]}}<Icon icon="uil:external-link-alt"
              :style="{ fontSize: '12px', color: '#d41413', }"
              width="12" height="28"  verticalAlign="top"
            />
          </a>
          et
          <a :href="redirectionLinks.population[1]" target="_blank" rel="noopener noreferrer">
            {{populationName.split('&')[1]}}<Icon icon="uil:external-link-alt"
              :style="{ fontSize: '12px', color: '#d41413', }"
              width="12" height="28"  verticalAlign="top"
            />
          </a>
        </template>
      </h3>
    </div>
    <Popper class="info" placement="top" arrow>
      <div class="info-link css-flex-container" v-if="redirectionLinks.info">
        <Icon icon="fluent:question-48-filled" class="info-icon"/>
      </div>
        <template #content>
          <div class="info-popup">
            <span v-if="populationName === 'Atlec'">
              Les atlecs sont le seul peuple à faire une usage courant du noms de famille
            </span>
            <span v-else-if="populationName === 'Cutchakan&Iktomi'">
              Bien qu’ayant une culture partiellement différents les Cutchakans et Iktomis utilisent généralement
              des noms similaires ou proches. Le « ‘ » dans le nom sert généralement à marquer une pause strict dans la
              prononciation
            </span>
            <span v-else-if="populationName === 'Oxotlli'">
              Ces noms concernent l’Oxotlli traditionnel. Si cette langue est rarement utilisé dans la pratique
              courante la norme est de l’utiliser pour donner les noms. Assez complexe la langue fait appel à des clics
              qui en phonétique se prononcent
              <a href='https://upload.wikimedia.org/wikipedia/commons/5/57/Clic_dental_sourd.ogg'
              target="_blank" rel="noopener noreferrer"
              :style="{ color: '#d41413', borderBottom: '1px dashed white' }">[ǀ]</a>
              pour le « t’ » et
              <a href='https://upload.wikimedia.org/wikipedia/commons/6/67/Clic_lateral_sourd.ogg'
              target="_blank" rel="noopener noreferrer"
              :style="{ color: '#d41413', borderBottom: '1px dashed white' }">[ǃ]</a>
              pour le « k ».
              Si une voyelle est doublé cela signifie qu’il faut la prononcer comme une voyelle longue
            </span>
            <span v-else-if="populationName === 'Tucoya'">
              Les Tucoyas sont le seul peuple dont tous les noms sont neutres
            </span>
          </div>
        </template>
    </Popper>
  </div>
</template>

<script>

import Popper from 'vue3-popper';

import { Icon } from '@iconify/vue';

export default {
  name: 'TileHeader',
  components: { Icon, Popper },
  props: {
    isCarouselMoving: Boolean,
    populationName: String,
    redirectionLinks: Object,
  },
  computed: {
    titleLeftMargin: (self) => (typeof self.redirectionLinks.population === 'string' ? '12px' : '0'),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@media (max-width: 550px) {
  .tile-header {
    grid-template-rows: auto auto;
    /* align-items: center; */
  }
  .title {
    grid-row: 1 / 2;
    /* margin-left: v-bind(titleLeftMargin); */
  }
  .info {
    grid-row: 2 / 3;
  }
}
@media (min-width: 551px) {
  .tile-header {
    grid-template-columns: 26px 1fr auto 1fr 26px;
    /* align-items: center; */
  }
  .title {
    grid-column: 3 / 4;
    margin-left: v-bind(titleLeftMargin);
  }
  .info {
    grid-column: 5 / 6;
  }
}
.tile-header {
  /* grid-template-columns: 26px 1fr auto 1fr 26px; */
  align-items: center;
}
.title {
  /* grid-column: 3 / 4;
  margin-left: v-bind(titleLeftMargin); */
  font-size: 20px;
}
.title > h3 {
  margin: auto;
}
a {
  color: #2c3e50;
  cursor: v-bind('isCarouselMoving ? "inherit" : "pointer"');
}
a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
/* .info {
  grid-column: 5 / 6;
} */
.info-link {
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}
.info-icon {
  background-color: white;
  font-size: large;
  border: 2px solid #d41413;
  border-radius: 100%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  padding: 2px;
}
.info-icon:hover, .info-icon:active {
  transform: rotate(45deg);
}
.info-popup {
  max-width: 20vw;
  text-align: start;
  z-index: 10;
}
.info-popup * {
  font-family: initial;
}
</style>
<style>
:root {
  --popper-theme-background-color: #2c3e50;
  --popper-theme-background-color-hover: #2c3e50;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 32px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}
</style>
