<template>
  <div id="app-body">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>
  @font-face {
    font-family: "Zacoalt";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Zacoalt"), url("/fonts/Zacoalt/Zacoalt.ttf") format("truetype");
  }
  * {
    font-family: "Zacoalt", Avenir, Helvetica, Arial, sans-serif;
  }
  html, body, #app, #app-body {
    margin: 0; /** Overwriting user agent stylesheet */
  }
  #app-body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #2c3e50;
    text-align: center;
  }
  h1 {
    font-size: calc(1.5em + 8vw);
    font-weight: normal;
  }
  h2 {
    font-size: calc(1.5em + 3vw);
    font-weight: normal;
  }
  h3 {
    font-size: min(1.5em, calc(1em + 2vw));
    font-weight: normal;
  }
  .css-grid-container {
    display: grid;
  }
  .css-flex-container {
    display: flex;
  }
</style>
