<template>
  <h2>Générateur de noms</h2>
  <span>
    <h3>Générez aléatoirement 5 noms de personnages ou d'agglomérations</h3>
    <p>Choisissez un peuple, puis cliquez sur le type de nom à générer</p>
  </span>
  <div class="selection">
    <Flicking :options="flickingOptions" :plugins="flickingPlugins"
    :style="{ cursor: isCursorGrabbing ? 'grabbing' : 'grab' }"
    @mousedown="handleSelectionPressDown" @touchstart="handleSelectionPressDown"
    @mouseup="handleSelectionPressUp" @touchend="handleSelectionPressUp" @mouseleave="handleSelectionPressUp"
    @moveStart="handleCarouselMoveStart" @moveEnd="handleCarouselMoveEnd">
      <PopulationTile v-for="([popName, popData], index) in Object.entries(populationBase)" :key="index"
      :populationName="popName" :populationData="popData" :generationTriggerCallback="handleTileButtonClick"
      :isCarouselMoving="isCarouselMoving" class="card-panel"/>
      <template #viewport>
        <div class="flicking-pagination"></div>
      </template>
    </Flicking>
    <div class="carousel-buttons" v-show="!isCarouselMoving">
      <Icon icon="fa-solid:less-than" font-size="30px"/>
      <Icon icon="fa-solid:greater-than" font-size="30px"/>
    </div>
    <Icon icon="whh:handswipe" color="#2c3e50" font-size="30px" :style="{ marginTop: '5px', marginBottom: '15px' }"/>
  </div>
  <div class="generator css-flex-container">
    <h3>Noms aléatoirement générés</h3>
    <div class="generated-names css-flex-container"
    :style="{ background: `url(${require('@/assets/text_background.jpg')}) 0 0 repeat`, backgroundSize: '100%', }">
      <pre>{{ generatedNames }}</pre>
    </div>
  </div>
  <template v-if="selectedCriterium.populationName">
    <h3 :style="{ marginTop: '55px' }">
      Base de noms utilisée :
      <span :style="{ textDecoration: 'underline dashed' }">{{selectedCriterium.populationName}}</span>
    </h3>
    <div class="name-base-content css-flex-container">
      <template v-for="([gender, genderedNameList], index) in Object.entries(selectedNameBase)" :key="index">
          <!-- backgroundColor: index % 2 ? 'white' : '#2c3e50',
          color: index % 2 ? '#2c3e50' : 'aliceblue',
          border: `${index % 2 ? 2 : 0}px solid #2c3e50` -->
        <div class="css-grid-container"
        :style="{
          color: '#2c3e50',
          background: `url(${require('@/assets/text_background.jpg')}) 0 0 repeat`,
          backgroundSize: '100%',
          border: '1px solid #2c3e50',
          }">
          <p>{{ gender }}</p>
          <em>{{ genderedNameList.join(', ') }}</em>
        </div>
      </template>
    </div>
  </template>
</template>
<script>

import Flicking from '@egjs/vue3-flicking';
import { Fade, Pagination } from '@egjs/flicking-plugins';
import { Icon } from '@iconify/vue';

import PopulationTile from './PopulationTile';

import { EMPTY_CHAR, GENDERS, PopulationBase } from '@/data';
import { randomInt, range } from '@/globals/functions/numbers';
import findAllIndexes from '@/globals/functions/strings';

export default {
  name: 'NameGenerator',
  components: { Flicking, Icon, PopulationTile },
  data() {
    return {
      isCarouselMoving: false,
      flickingOptions: {
        align: 'center',
        circular: true,
        noPanelStyleOverride: true,
        deceleration: 0.01,
        easing: (x) => 1 - (1 - x) ** 3,
      },
      flickingPlugins: [new Fade(), new Pagination({ type: 'bullet' })],
      genders: GENDERS,
      generatedNames: '(Veuillez sélectionner une catégorie)',
      isCursorGrabbing: false,
      nbOfwantedNames: 5,
      populationBase: PopulationBase,
      selectedCriterium: {
        populationName: '',
        critName: '',
        critValue: '',
      },
    };
  },
  computed: {
    selectedNameBase: (self) => {
      const output = {};
      if (!self.selectedCriterium.populationName) {
        return output;
      }
      self.populationBase[self.selectedCriterium.populationName].names.forEach(
        (nameData) => {
          if (!Object.prototype.hasOwnProperty.call(output, nameData.gender)) {
            output[nameData.gender] = [];
          }
          output[nameData.gender].push(nameData.name);
        },
      );
      return output;
    },
  },
  methods: {
    doesNameRespectNomenclature(name) {
      const { nomenclature } = this.populationBase[this.selectedCriterium.populationName];
      const { min: minSize, max: maxSize } = nomenclature.nameSize;
      if (!(name.length >= minSize && name.length <= maxSize)) {
        return false;
      }
      const areSpecialCharsRulesRespected = Object.entries(nomenclature.specialChars).every(([spChar, rules]) => {
        const spCharOccurences = findAllIndexes(name, spChar);
        const spCharAmount = spCharOccurences.length - spCharOccurences.reduce(
          (acc, curr) => acc + Number(rules.isException(name, curr)),
          0,
        );
        if (spCharAmount > rules.maxAllowed) {
          return false;
        }
        const spCharsAreIllPlaced = spCharOccurences.some(
          (index) => index < rules.minDistFromEdges - 1 || index > name.length - rules.minDistFromEdges,
        );
        if (spCharsAreIllPlaced) {
          return false;
        }
        return true;
      });
      if (!areSpecialCharsRulesRespected) {
        return false;
      }
      return true;
    },
    generateCharOccurenceTable(nameList) {
      const output = {};
      nameList.forEach((name) => {
        range(name.length, -1).forEach((index) => {
          const currChar = name[index] || EMPTY_CHAR;
          const prevChar = name[index - 1] || EMPTY_CHAR;
          const nextChar = name[index + 1] || EMPTY_CHAR;
          const prevTwoChars = [prevChar, currChar];
          if (!Object.prototype.hasOwnProperty.call(output, prevTwoChars)) {
            output[prevTwoChars] = {};
          }
          const nextCharTable = output[prevTwoChars];
          const nextCharCurrentCount = nextCharTable[nextChar] || 0;
          nextCharTable[nextChar] = nextCharCurrentCount + 1;
        });
      });
      return output;
    },
    getRandomNamesFromCharOccurences(occurenceTable, nbWanted) {
      const output = [];
      if (!Object.keys(occurenceTable).length) {
        return output;
      }
      const generateNewName = (occTable, legacyGeneratedNames) => {
        let outputName = EMPTY_CHAR;
        let charToAdd = EMPTY_CHAR;
        let generationWasReset = false;
        do {
          generationWasReset = false;
          const prevPrevChar = outputName.slice(-2, -1) || EMPTY_CHAR;
          const prevChar = outputName.slice(-1) || EMPTY_CHAR;
          const nextCharTable = occTable[[prevPrevChar, prevChar]];
          const nbOfNextCharOccurences = Object.values(nextCharTable).reduce((acc, curr) => acc + curr, 0);
          let randomIndex = Math.random() * 100; // float within [0; 100[
          // eslint-disable-next-line no-loop-func
          Object.entries(nextCharTable).some(([char, occurenceNb]) => {
            const charFrequency = (occurenceNb / nbOfNextCharOccurences) * 100;
            if (randomIndex >= charFrequency) {
              randomIndex -= charFrequency;
              return false;
            }
            charToAdd = char;
            return true;
          });
          outputName += charToAdd;
          if (charToAdd === EMPTY_CHAR
            && (!this.doesNameRespectNomenclature(outputName) || legacyGeneratedNames.includes(outputName))) {
            outputName = '';
            generationWasReset = true;
          }
        } while (charToAdd !== EMPTY_CHAR || generationWasReset);
        return outputName;
      };
      range(nbWanted).forEach(() => output.push(generateNewName(occurenceTable, output)));
      return output;
    },
    generateRawNames() {
      const { populationName, critName, critValue } = this.selectedCriterium;
      const randomGenderName = this.getRandomPopulationGenderName();
      const genderSelection = critName === 'gender'
        ? critValue
        : randomGenderName;
      const selectedNames = this.populationBase[populationName].names.reduce((acc, curr) => {
        if (curr.gender === this.genders[genderSelection]) {
          acc.push(curr.name);
        }
        return acc;
      }, []);
      const charOccurenceTable = this.generateCharOccurenceTable(selectedNames);
      return this.getRandomNamesFromCharOccurences(charOccurenceTable, this.nbOfwantedNames);
    },
    generateNames() {
      const rawGeneratedNames = this.generateRawNames();
      const generatedNameList = this.postEditing(rawGeneratedNames);
      this.generatedNames = generatedNameList.length
        ? generatedNameList.reduce((acc, curr) => `${acc}\n${curr}`)
        : 'No data available\nfor this selection :/';
    },
    getRandomPopulationGenderName() {
      const genderNameList = this.populationBase[this.selectedCriterium.populationName].criteria.gender;
      return genderNameList[randomInt(genderNameList.length)];
    },
    handleCarouselMoveStart() {
      this.isCarouselMoving = true;
    },
    handleCarouselMoveEnd() {
      this.isCarouselMoving = false;
    },
    handleTileButtonClick(populationName, critName, critValue) {
      this.selectedCriterium = { populationName, critName, critValue };
      this.generateNames();
    },
    handleSelectionPressDown() {
      this.isCursorGrabbing = true;
    },
    handleSelectionPressUp() {
      this.isCursorGrabbing = false;
    },
    postEditing(nameList) {
      const { populationName, critName, critValue } = this.selectedCriterium;
      if (critName === 'agglomeration') {
        const output = [];
        const nameEditor = this.populationBase[populationName].agglomerationTemplates[critValue];
        nameList.forEach((name, index) => (output[index] = nameEditor(name)));
        return output;
      }
      if (populationName === 'Atlec') {
        const output = [];
        const randomGenderName = this.getRandomPopulationGenderName();
        const familyNames = this.generateRawNames(populationName, critName, randomGenderName);
        nameList.forEach((name, index, arr) => (output[index] = `${arr[index]} ${familyNames[index]}`));
        return output;
      }
      return nameList;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3 {
    font-family: sans-serif;
  }
  p {
    font-family: sans-serif;
  }
  .selection {
    position: relative;
    width: 100%;
  }
  /* Imported from 'flicking' component's css (cf. index.html link tag) */
  .flicking-camera > * {
    margin: 0 30px;
  }
  .flicking-viewport {
    overflow-x: clip;
    overflow-y: visible;
  }
  .flicking-pagination {
    bottom: -50px;
    z-index: 0;
  }
  /*  */
  .carousel-buttons {
    position: absolute;
    width: 100%;
    color: #2c3e50;
    top: calc(50% - 27px - 15px);
  }
  .carousel-buttons > * {
    position: absolute;
  }
  @media (max-width: 550px) {
    .carousel-buttons > *:nth-child(1) {
      left: calc(50% - 90px - 30px - 11px);
    }
    .carousel-buttons > *:nth-child(2) {
      left: calc(50% + 90px + 30px - 11px);
    }
    .generated-names {
      width: min(90%, 386px);
    }
  }
  @media (max-width: 750px) {
    .generated-names > pre {
      font-size: x-large;
    }
  }
  @media (min-width: 551px) {
    .carousel-buttons > *:nth-child(1) {
      left: calc(50% - 193px - 30px - 11px);
    }
    .carousel-buttons > *:nth-child(2) {
      left: calc(50% + 193px + 30px - 11px);
    }
    .generated-names {
      width: max(386px, 50%);
    }
  }
  @media (min-width: 751px) {
    .generated-names > pre {
      font-size: xx-large;
    }
  }
  .generator {
    grid-template-columns: 25% auto 25%;
  }
  .generator {
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
  }
  .generated-names {
    /* background-color: #2c3e50; */
    /* color: aliceblue; */
    color: #2c3e50;
    background-size: 100%;
    border: 1px solid #2c3e50;
    /*  */
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 240px;
  }
  .generated-names > pre {
    /* font-size: xx-large; */
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
  .name-base-content {
    gap: 20px;
    margin: 0 5%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .name-base-content > div {
    border-radius: 10px;
    grid-template-rows: auto 1fr;
    max-width: 386px
  }
  .name-base-content > div > em{
    font-size: 15px;
    margin: 0px 16px 16px 16px;
  }
  .name-base-content * {
    font-family: sans-serif;
  }
</style>

<style>
/* Imported from 'flicking' component's css (cf. index.html link tag)
 * N.B: this one has to be declared before
*/
.flicking-pagination-bullet-active {
  background-color: #d41413;
}
/*  */
</style>
